html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontDefault;

  button {
    color: $primary;
  }
}

// Scroll-Animations
// .anim {
//   opacity: 0;
//   transform: translateY(100px);
//   transition:
//     opacity 0.5s ease-out,
//     transform 0.5s ease-out;

//   &.show {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
