/* Colors */
$primary: rgb(39, 40, 48);
$gradient: linear-gradient(
  360deg,
  rgba(39, 40, 48, 1) 0%,
  rgba(39, 40, 49, 1) 100%
);

$light: #ffffff;
$blue: #0761e9;

/* Fonts */
$fontHeadline: "Raleway";
$fontDefault: "Quicksand";
